/* http://tompierre.nl 
   v1.0 | 0
   License: Work3gether
*/

/* Declared fonts */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,800';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 16px;
}

/* Font styles */

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 6rem;
    font-weight: 700;
	color: #fff;
    margin: 7rem 0;
}

h2 {

}

h3 {

}

h4 {
	font-size: 1em;
	margin: 1em 0;
}

p {
	font-size: 0.9rem;
	line-height: 70px;
	margin-bottom: 1em;
	color: #808080;
	font-weight: 100;
}

/* Header */

header {
	color: #fff;
    padding: 4em 0 4em 0;
	background-size: 110%;
	background-image: url(../img/the-web-mobile.jpg);
	background-repeat: no-repeat;	
}

header p {
	color: #fff;
	font-weight: 300;
}

/* Main */

main {
	margin: 4em 0;
}

.wrapper {
	margin: 4rem ;
}

/* Buttons */

button {
    font-size: 2.5rem;
    color: #fff;
    background-color: transparent;
    border: 5px solid #fff;
    border-radius: 0.2em;
    padding: 1rem 3rem;
    text-transform: uppercase;
}

/* Footer */

footer {
	border-top: solid #94BEC2;
	border-bottom: 3em solid #94BEC2;
}

footer p {
	font-size: 0.9rem;
	font-weight: 100;
}